.vector-icon8 {
  width: 76.85px;
  height: 56px;
}
.recogame2,
.vector-icon8 {
  position: relative;
}
.logo-style-guide-top2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.div17 {
  position: relative;
  line-height: 18px;
}
.vector-icon9 {
  position: relative;
  width: 13.07px;
  height: 7.23px;
}
.div18,
.sections2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.sections2 {
  justify-content: flex-end;
  gap: var(--gap-14xl);
  text-align: center;
  font-size: var(--body-default-size);
  color: var(--color-darkslateblue-100);
  font-family: var(--body-default);
}
.added2,
.menu2 {
  justify-content: flex-start;
}
.menu2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
}
.added2 {
  width: 141px;
  height: 18px;
  gap: var(--gap-2xs);
}
.added2,
.additional2,
.head-contents2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.additional2 {
  width: 216.1px;
  height: 50px;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  text-align: center;
  font-size: var(--body-default-size);
  color: var(--color-dimgray-200);
  font-family: var(--body-default);
}
.head-contents2 {
  width: 1306.24px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav1 {
  position: relative;
  background-color: var(--neutral-colors-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-48xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
